/* * {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
  } */

header {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    padding: 50px 15vw 15px 15vw;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: white;
}

html,
body {
    margin: auto;
    font-size: 24px;
}

h2,
h3 {
    font-family: 'Mulish', sans-serif;
    font-weight: lighter;
}

img {
    max-height: 500px;
    max-width: 70vw;
    -webkit-user-drag: none;
    box-shadow: 5.85px 5.46px 23px 2px rgba(0, 0, 0, 0.5);
    margin-top: auto;
    margin-bottom: auto;
}

svg {
    height: 100px;
}

#logoAlt,
#logoNeu {
    max-height: 150px;
    max-width: 300px;
    box-shadow: none;
    margin: auto;
}

#logoNeu,
#arrow {
    margin-left: 50px;
    margin: auto;
}


#transition {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

video, 
#personas img,
#researchAndTesting img{
    max-height: 600px;
    max-width: 90vw;
    -webkit-user-drag: none;
    box-shadow: 5.85px 5.46px 23px 2px rgba(0, 0, 0, 0.5);
    margin-top: auto;
    margin-bottom: auto;
}

a {
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.link {
    text-decoration: none;
    font-weight: bold;
}

.link:hover {
    color: #FFD84C;
}

.persona:hover{
    color: #E4AAFF;
}


.icon{
    margin-left: 25px;
}

.User:hover {
    color: #FFD84C;
}

.Experience:hover {
    color: #E4AAFF;
}

.Design:hover {
    color: #A9CDDD;
}

.padding {
    padding-top: 50px;
}

.text {
    line-height: 2;
    padding: 0 30vw 0 15vw;
    white-space: pre-line;
}

.overview {
    line-height: 2;
    padding-left: 15vw;
    white-space: pre-line;
}

.step {
    font-weight: 800;
    line-height: 2;
    white-space: pre-line;
}

p {
    font-weight: 400;
    white-space: pre-line;
}

.projectBox {
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
}

.SubsiteUser .background {
    background-color: #FFD84C;
}

.SubsiteExperience .background{
    background-color: #E4AAFF;
}

.SubsiteDesign .background {
    background-color: #A9CDDD;
}

.SubsiteUser hr {
    border: 1px solid #FFD84C;
    width: 90%;
}

.SubsiteExperience hr {
    border: 1px solid #E4AAFF;
    width: 90%;
}

.SubsiteDesign hr {
    border: 1px solid #A9CDDD;
    width: 90%;
}

.container {
    padding-top: 92px;
}

.background {
    display: flex;
    height: 700px;
}

li {
    list-style-type: none;
}

#logo,
#poster {
    padding-right: 15vw;
    padding-left: 15vw;
    
}

#logo img{
    max-height: 300px;
}

#poster,
#logo {
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    gap: 25px;
    justify-content: space-between;
}

#seness,
#freeMenstrualProducts,
#personas,
#researchAndTesting {
    justify-content: center;
}

.imgInText img {
    max-height: 800px;
    -webkit-user-drag: none;
    box-shadow: none;
    padding-left: 25px; 
}

#UXVideo {
    max-height: 800px;
    -webkit-user-drag: none;
    box-shadow: none;
    padding: 0 15vw 0 15vw;
}

.overviewTimeTools {
    display: flex;
}

.tools img{
    height: 50px;
    box-shadow: none;
}

.left,
.right {
    flex:1;
}

#footer {
    bottom: 0;
    left: 0;
    padding: 50px 0px 10px 10px;
    font-family: 'Mulish', sans-serif;
    font-size: 12px;
}

@media (hover:none){

    .fa {
        transform: scale(2);
    }
    .icon {
        margin-left: 66px;
    }

    .overviewTimeTools {
        flex-direction: column-reverse;
    }

    #transition  {
        flex-direction: column;
    }

    #logo,
    #poster {
        flex-wrap: wrap;
        justify-content: center;
    }

    #arrow {
        transform: rotate(90deg);
        padding: 50px;
    }

    #logo img{
        max-height: 250px;
        max-width: 70vw;
    }

    .tools img{
        height: 66px;
    }

    .text,
    .overviewTimeTools {
        padding-right: 15vw;
    }
}

