/* * {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
  } */

html,
body {
    width: 100vw;
    position: relative;
    margin: 0%;
    font-size: 24px;
    font-family: 'Titan One', cursive;
    cursor: default;
}

p {
    font-size: 24px;
}

.subsites a {
    display: flex;
    text-align: start;
    font-family: 'Mulish', sans-serif;
    font-size: 20px;
    line-height: 32px;
    padding-left: 30px;
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.link {
    text-decoration: none;
    font-weight: bold;
    color: #000;
}

.link:hover {
    color: #FFFFFF;
}

#mail {
    margin-left: 50px;
}

#ClickMe,
#AboutMe,
#Contact {
    font-size: 36px;
    color: #000;
    background-image: linear-gradient(to right,
            #FFD84C,
            #D891F9,
            #A7FDFA);
}

#Name {
    font-size: 36px;
    background-image: linear-gradient(to right,
            #FFD84C,
            #D891F9,
            #A7FDFA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#ClickMe,
#Name {
    max-width: 400px;
}

img {
    -webkit-user-drag: none;
    border-radius: 20px;
}

#MainContent {
    display: grid;
    grid-template:
        "a b c"
        "d d d"
        "e f g";
    grid-template-rows: calc(100vh / 3) calc(100vh / 3) calc(100vh / 3);
    grid-template-columns: calc(100vw / 3) calc(100vw / 3) calc(100vw / 3);
    height: 100vh
}

#ClickMe {
    grid-area: a;
    grid-auto-flow: column;
    align-self: flex-start;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

#Name {
    grid-area: b;
    grid-auto-flow: column;
    align-self: flex-start;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

#nav-bar {
    grid-area: c;
    place-self: start end;
    margin-right: 10%;
}

#UXD {
    grid-area: d;
    position: relative;
}

#UserBox {
    grid-area: e;
    place-self: center center;
}

#ExperienceBox {
    grid-area: f;
    place-self: center center;
}

#DesignBox {
    grid-area: g;
    place-self: center center;
}

#UserBox,
#ExperienceBox,
#DesignBox {
    width: 300px;
}

/* about me - image + text */

#AboutMeBackground,
#ContactBackground {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 425px;
    width: 850px;
    z-index: 1;
    border-radius: 20px;
    border: 1px solid;
    padding: 10px;
    box-shadow: 10px 10px;

    /* holographic background */
    background-image: linear-gradient(to right,
            #FFD84C,
            #D891F9,
            #A7FDFA);
    background-size: 200%;
}

#content-about-me {
    display: flex;
    margin: auto;
    padding: 16px;
    flex-direction: column;
}

#get-in-touch {
    display: flex;
    margin: auto;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

#content-about-me img {
    float: left;
    margin-right: 16px;

}

#format {
    margin-top: 75px;
    display: flex;
    flex-direction: column;
}


#format p {
    margin: 16px;
}


#i-am {
    font-size: 36px;
    text-shadow: 2.5px 2.5px #FFFFFF;
}

#close,
#close2 {
    top: 16px;
    right: 16px;
    position: absolute;
}

.icon {
    cursor: pointer;
}

.text {
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    white-space: pre-line;
}

#Me {
    width: 200px;
}

#nav-bar:hover {
    cursor: pointer;
}

/* bottom-part */

#arrowLeft,
#arrowDown,
#arrowRight {
    height: 100px;
    margin: auto;
}

#arrowLeft {
    transform: scaleY(-1) rotate(90deg);
}

#arrowRight {
    transform: scaleY(-1) rotate(-90deg);
}

#UXD svg {
    height: 300px;
}

.subsites {
    font-size: 16px;
    /* padding-bottom: 50px; */
}


#AboutMe,
#Contact {
    text-shadow: 2.5px 2.5px #FFFFFF;
    text-align: center;
    border: 1px solid;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 10px 10px;
}

#ClickMe,
#User,
#Experience,
#Design {
    text-shadow: 2.5px 2.5px #FFFFFF;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
}

#User {
    background-color: #FFD84C;
    padding: 0px;
    margin: 0px;
}

#Experience {
    background-color: #D891F9;
    padding: 0px;
    margin: 0px;
}

#Design {
    background-color: #A9CDDD;
    padding: 0px;
    margin: 0px;
}

#AboutMe:hover,
#Contact:hover {
    background-image: none;
}

#User,
#Experience,
#Design {
    box-shadow: none;
    text-shadow: none;
    font-family: 'Titan One', sans-serif;
    text-align: center;
    font-size: 36px;
    line-height: 32px;
    text-decoration: none;
    color: black;
    background-color: #FFFFFF;
}

#UserBox a,
#ExperienceBox a,
#DesignBox a {
    text-shadow: 2.5px 2.5px #FFFFFF;
    text-align: center;
    border: 1px solid;
    border-radius: 10px;
    box-shadow: 10px 10px;
    padding-left: 30px;
    margin-top: 15px;
}

.yellow {
    background-color: #FFD84C;
}

.pink {
    background-color: #D891F9;
}

.blue {
    background-color: #A9CDDD;
}

#UserBox a:hover,
#ExperienceBox a:hover,
#DesignBox a:hover {
    cursor: pointer;
    background-color: #FFFFFF;
}

/* animation */

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.box,
.boxHover {
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.box svg {
    animation: blink .3s;
    animation-iteration-count: infinite;
}

#UXD2 svg {
    animation-delay: .1s;
}

#UXD3 svg {
    animation-delay: .2s;
}

#footer {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0px 0px 10px 10px;
    font-family: 'Mulish', sans-serif;
    font-size: 12px;
}

/* cool colorful animation */

.animate-character {
    text-transform: uppercase;
    background-image: linear-gradient(-225deg,
            #ffffff 0%,
            #A9CDDD 29%,
            #E4AAFF 67%,
            #FFD84C 100%);
    background-size: 200% auto;
    -webkit-background-clip: text;
    animation: textclip 5s linear infinite;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

.small {
    display: none;
}

/* Responsive Web Design - Media Queries */


@media only screen and (max-width: 600px) {

    body {
        background-color: aliceblue;
        padding-bottom: 25px;
    }

    #MainContent {
        max-width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
    }

    #Name {
        font-size: 20px;

    }

    #UXD,
    #ClickMe {
        display: none;
    }

    #nav-bar {
        max-width: 90vw;
        display: flex;
        align-self: center;
        margin-right: 0px;
    }

    #Contact {
        margin-left: 50px;
    }

    #AboutMeBackground {
        width: 80vw;
        height: 800px;
    }

    #content-about-me {
        margin: 0;
    }

    #ContactBackground {
        width: 80vw;
        height: 400px;
    }

    .top,
    .bottom {
        width: 70vw;
    }

    #format,
    #format p {
        margin-top: 15px;
        margin-left: 0px;
    }

    .top {
        display: flex;
        flex-direction: column;
    }

    #AboutMe,
    #Contact,
    #i-am {
        font-size: 24px;
    }

    .small {
        display: block;
    }

    #User,
    #Experience,
    #Design {
        box-shadow: none;
        text-shadow: none;
        font-family: 'Mulish', sans-serif;
        text-align: center;
        font-family: 'Mulish', sans-serif;
        font-size: 20px;
        line-height: 32px;
        text-decoration: none;
        color: black;
        font-weight: 600;
    }

    #UserBox,
    #DesignBox {
        place-self: center center;
    }

    #UserBox a:hover,
    #ExperienceBox a:hover,
    #DesignBox a:hover {
        text-shadow: 2.5px 2.5px #FFFFFF;
    }

    #User,
    #Experience,
    #Design {
        background-color: aliceblue;
        border: none;
    }

    .subsites {
        padding-bottom: 25px;
    }

    #footer {
        display: flex;
    }

}