html,
body {
    width: 100%;
    max-height: 100vh;
    padding: 0%;
    margin: 0%;
    font-size: 24px;
    background-color: #FFFFFF;
    font-family: 'Titan One', cursive;
    overflow: hidden;
    cursor: default;
}

p {
    font-size: 24px;
}

a {
    display: flex;
    text-align: start;
    font-family: 'Mulish', sans-serif;
    font-size: 20px;
    line-height: 32px;
    padding-left: 30px;
    text-decoration: none;
    color: black;
    font-weight: 600;
}

#ClickMe,
#AboutMe,
#Contact {
    font-size: 36px;
    color: #000;
    background-image: linear-gradient(to right,
            #FFD84C,
            #D891F9,
            #A7FDFA);
}

#Name {
    font-size: 36px;
    width: 500px;
    background-image: linear-gradient(to right,
            #FFD84C,
            #D891F9,
            #A7FDFA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#ClickMe,
#Name {
    width: 400px;
}

img {
    -webkit-user-drag: none;
    border-radius: 20px;
}

#MainContent {
    display: grid;
    grid-template:
        "a b c"
        "d d d"
        "e f g";
    grid-template-rows: calc(100vh / 3) calc(100vh / 3) calc(100vh / 3);
    grid-template-columns: calc(100vw / 3) calc(100vw / 3) calc(100vw / 3);
    height: 100vh
}

#ClickMe {
    grid-area: a;
    grid-auto-flow: column;
    align-self: center;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

#Name {
    grid-area: b;
    grid-auto-flow: column;
    align-self: center;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

#nav-bar {
    grid-area: c;
    place-self: start end;
    margin-right: 10%;
}

#UXD {
    grid-area: d;
    position: relative;
}

#UserBox {
    grid-area: e;
    place-self: start center;
}

#ExperienceBox {
    grid-area: f;
    place-self: center center;
}

#DesignBox {
    grid-area: g;
    place-self: start center;
}

#UserBox,
#ExperienceBox,
#DesignBox {
    width: 300px;
}

/* about me - image + text */

#AboutMeBackground,
#ContactBackground {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 425px;
    width: 850px;
    z-index: 1;
    border-radius: 20px;
    border: 1px solid;
    padding: 10px;
    box-shadow: 10px 10px;

    /* holographic background */
    background-image: linear-gradient(to right,
            #FFD84C,
            #D891F9,
            #A7FDFA);
    background-size: 200%;
}

#content-about-me {
    display: flex;
    margin: auto;
    padding: 16px;
    flex-direction: column;
}

#get-in-touch {
    display: flex;
    margin: auto;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

#content-about-me img {
    float: left;
    margin-right: 16px;

}

#format {
    margin-top: 75px;
    display: flex;
    flex-direction: column;

}


#format p {
    margin: 16px;
}


#i-am {
    width: 800px;
    font-size: 36px;
    text-shadow: 2.5px 2.5px #FFFFFF;
}

#close,
#close2 {
    align-self: flex-end;
}

.icon {
    cursor: pointer;
}

.text {
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    white-space: pre-line;
}

#Me {
    width: 20%;
}

#nav-bar:hover {
    cursor: pointer;
}

/* bottom-part */

#arrowLeft,
#arrowDown,
#arrowRight {
    height: 100px;
    margin: auto;
}

#arrowLeft {
    transform: scaleY(-1) rotate(90deg);
}

#arrowRight {
    transform: scaleY(-1) rotate(-90deg);
}

#UXD svg {
    height: 300px;
}

.subsites {
    font-size: 16px;
    padding-bottom: 50px;
}

#ClickMe,
#AboutMe,
#Contact,
#User,
#Experience,
#Design {
    text-shadow: 2.5px 2.5px #FFFFFF;
    text-align: center;
    border: 1px solid;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 10px 10px;
}

#User {
    background-color: #FFD84C;
}

#Experience {
    background-color: #D891F9;
}

#Design {
    background-color: #A9CDDD;
}

#AboutMe:hover,
#Contact:hover {
    background-image: none;
}

#UserBox a:hover {
    cursor: pointer;
    text-shadow: 2.5px 2.5px #FFD84C;
}

#ExperienceBox a:hover {
    cursor: pointer;
    text-shadow: 2.5px 2.5px #D891F9;
}

#DesignBox a:hover {
    cursor: pointer;
    text-shadow: 2.5px 2.5px #A9CDDD;
}

/* animation */

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.box,
.boxHover {
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.box svg {
    animation: blink .3s;
    animation-iteration-count: infinite;
}

#UXD2 svg {
    animation-delay: .1s;
}

#UXD3 svg {
    animation-delay: .2s;
}

#footer {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0px 0px 10px 10px;
    font-family: 'Mulish', sans-serif;
    font-size: 12px;
}
